# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/
.env/

# ===============================
# Jupyter / Data
# ===============================
.ipynb_checkpoints/
*.ipynb

# ===============================
# Logs & temp files
# ===============================
*.log
*.tmp
*.cache

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE / Editors
# ===============================
.vscode/
.idea/
*.swp

# ===============================
# Secrets
# ===============================
.env
.env.*

# ===============================
# Build / dist
# ===============================
build/
dist/
*.egg-info/

